<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moon Walker</title>
    <link rel="stylesheet" href="/css/style.css">
    
  </head>
  <body>
    <%- include('partials/alerts') %>
    <header>
      <nav>
        <ul>
          <% if (!currentUser) { %>
           <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } else {%>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
          <% } %>
          
        </ul>
      </nav>
    </header>
    <h1>WELCOME TO THE MOON WALKER </h1>
    <%- body %>
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Moon_rotating_full_160px.gif" alt="Moon" class="center">
  </body>
  
      </form>
      <p>
  </div>
  <div class="apollo">
    <h3>User Login</h3>
   
    <input type="text" placeholder="Email Address"
    <h3>Password</h3>
    <input type="text" placeholder="Password">
   <button>Sign in</button>
  </div>

   <div class="div-wrapper">
    <img src="https://i.gifer.com/1dg5.gif"/>
</div>
  </p>
</html>

<footer> 
  <h4>Moon-Walker@lists.arc.nasa.gov</h4>
</footer>





